.breadcrumb-container {
    padding: 1rem;
    background: linear-gradient(to right, #000000, #4b4320);
  }
  
  .breadcrumb {
    display: inline;
    font-size: 1rem;
    color: white;
    &::after {
      content: '>';
      margin: 0 0.5rem;
    }
    &:last-child::after {
      content: '';
    }
  }
  